
/*I...STRUCTURE GLOBALE
=========================================================*/

html{
  height: 100%;
  width: 100%;
}
body {
  height: inherit;
  width: inherit;
  margin: 0 auto;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  background-color: #fff;
  padding: 1em;
 }

/*II...AFFICHAGE PARTIE GAUCHE
=========================================================*/

aside {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  background-color: rgb(142, 148, 204);
  text-align: justify;
}
aside img {
  display: flex;
  width: 200px;
  margin: 0 auto;
  clip-path: circle(45%);
  margin-top: 30px;
  margin-bottom: 30px;
}
aside h3{
  background-color: rgb(33,33,33);
  text-align: center;
  padding: 10px;
  color: white;
}
aside p{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 0.9em;
  padding-left: 20px;
}
aside p, a {
  padding: 0 40px 0 40px;
}
address a{
  /*On retire l'espace entre le lien "href" et "Email" au niveau de l'adresse mail*/
  padding-left: 0px;                                                       
}
/*III...AFFICHAGE PARTIE DROITE
=========================================================*/

section {
  display: flex;
  flex-direction: column;
}

/*IV...ADAPTABILITE RESPONSIVE DESIGN
=========================================================*/

@media screen and (max-width:1366px) {
}
