/*Ia...AFFICHAGE GENERAL...:
=============================================================*/

body {
    margin: 0 auto;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    background-color: #fff;
}


/*Ib...PARAMETRES GÉNÉRAUX (titres + paragraphes)
=============================================================*/

h1 {
    font-weight: 200;
    font-size: 50px;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

aside h3 {
    padding: 8px;
    font-size: 34px;
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.2vh;
    text-align: center;
    background-color: rgb(33, 33, 33);
    color: rgb(102, 187, 106);
    box-sizing: border-box;
    width: 100%;
}

article h3 {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    padding-top: 50px;
}

h4 {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.container p {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}


/*II...AFFICHAGE PARTIE GAUCHE:
==============================================================*/

aside {
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color: rgb(102, 187, 106);
    text-align: justify;
    padding-top: 50px;
}

aside img {
    display: flex;
    align-items: center;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 30px;
}

aside p,
a {
    padding: 0 40px 0 40px;
}

aside div:first-child {
    /*le premier enfant "div" de aside va pouvoir s'étendre*/
    /*verticalement (flex column) en utilisant les 2/3 de l'espace disponible*/
    flex: 3 0 auto;
}

aside div:nth-child(2) {
    /*le second enfant s'étendra en utilisant 1/3 de l'espace dispo*/
    flex: 1;
}

.aside_loisirs {
    font-size: 4em;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
}

address {
    padding-bottom: 15px;
    font-style: normal;
}

address a {
    /*On retire l'espace entre le lien "href" et "Email" au niveau de l'adresse mail:*/
    padding-left: 0px;
    /*On retire également le trait de sous-lignage du lien de l'adresse email:*/
    text-decoration: none;
    color: rgb(33, 33, 33);
}

header img {
    display: none;
}


/*IIIa...AFFICHAGE PARTIE DROITE (HEADER):
=========================================================*/

section {
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    margin-left: 15px;
    padding: 40px;
}

header {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    line-height: 1.3vh;
}

#prenom {
    color: rgb(102, 187, 106);
}


/*On va styliser la balise "hr" qui soulignera le titre de niveau h2 sous le prénom et nom*/

hr {
    width: 7%;
    margin: 0;
    margin-top: -10px;
    border: 1px solid rgb(102, 187, 106);
}


/*IIIb...AFFICHAGE PARTIE DROITE (ARTICLE > PARCOURS):
=========================================================*/

h3:first-child {
    border-bottom: 2px solid rgb(102, 187, 106);
}

.logo {
    font-size: xx-large;
    padding: 0px 40px 15px 0px;
    color: rgb(102, 187, 106);
}

.droite {
    display: flex;
}

.texte {
    flex: 2;
    align-content: center;
}

.date {
    margin-top: 30px;
    display: flex;
    flex: 1;
}

.date .fas,
.far {
    margin-right: 15px;
    margin-top: 15px;
    font-size: 0.8em;
}

.date p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.recom {
    display: flex;
    justify-content: space-between;
}


/*IV...ADAPTABILITE RESPONSIVE DESIGN:
=========================================================*/

@media screen and (min-width: 1920px) {
    /*GRANDS ECRANS
----------------*/
    .container p {
        font-size: 2em;
    }
    h1 {
        font-size: 4vh;
        margin-top: 90px;
    }
    h2 {
        font-size: 2vh;
    }
    article h3 {
        font-size: 2.5vh;
    }
    aside h3 {
        font-size: 3vh;
    }
    aside img {
        display: flex;
        align-items: center;
        width: 220px;
        height: 220px;
        margin: 0 auto;
        border-radius: 50%;
        margin-bottom: 70px;
        margin-top: 50px;
    }
    .aside_loisirs {
        flex: 1;
    }
    .texte {
        margin-right: 50px;
    }
}

@media screen and (min-width: 480px) and (max-width: 1439px) {
    /*TABLETTES ET SMARTPHONES TAILLE MOYENNE
--------------------------------------------*/
    .container {
        flex-direction: column;
        width: auto;
    }
    h1 {
        font-size: 3.2em;
        margin-top: 70px;
    }
    h2 {
        font-size: 2.7vh;
    }
    aside h3 {
        font-size: 3vh;
    }
    .container p {
        font-size: 1.2em;
    }
    section {
        padding: 20px;
    }
    address {
        display: flex;
    }
    header {
        margin: 0 auto;
        text-align: center;
        padding-bottom: 60px;
        padding-top: 40px;
    }
    header img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        display: flex;
        margin: auto;
    }
    header hr {
        display: flex;
        margin: auto;
    }
    aside {
        padding-top: 0px;
        /*En supprimant la marge intérieure, on évitera le dépassement du contenu hors de son contenant*/
    }
    aside h3:first-child {
        margin-top: 0px;
        /*En supprimant la marge extérieure, on évitera le dépassement du contenu hors de son contenant*/
    }
    aside>div img {
        display: none;
        /*On gagnera de la place dans l'affichage du cv résolution réduite en n'affichant pas la photo*/
    }
    .date {
        margin-right: 10px;
    }
    .texte {
        margin-left: 20px;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    /*TELEPHONES BASSE RESOLUTION
------------------------------*/
    .container {
        flex-direction: column;
    }
    .droite {
        display: block;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid lightgrey;
        box-shadow: 5px 5px #777;
    }
    aside img {
        display: none;
    }
    .recom {
        display: block;
    }
    h1 {
        font-size: 2em;
        margin-top: 70px;
    }
    h2 {
        font-size: 1.5vh;
    }
    aside h3 {
        font-size: 2vh;
    }
    article h3 {
        font-size: 2vh;
    }
    h4 {
        font-size: 1.5vh;
    }
    header img {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        display: flex;
        margin: auto;
    }
    header hr {
        display: flex;
        margin: auto;
    }
    .container p {
        font-size: 1em;
    }
    aside h3:first-child {
        margin-top: 0px;
    }
    aside {
        padding-top: 0px;
    }
}