
/*I...STRUCTURE GLOBALE
=========================================================*/

html{
  /*height: 100%;*/
  /*max-width: 100%;*/
}

body{
 margin: 0 auto;
 width: 60%;
}
.container{
  height: 1214px;
  display: flex;
  flex-direction: row-reverse;
  background-color: #fff;
  padding: 1em;
 }

/*II...AFFICHAGE PARTIE GAUCHE
=========================================================*/

aside{
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: rgb(142, 148, 204);
  text-align: justify;
  padding-top: 50px;
}
aside img{
  display: flex;
  align-items: center;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  border-radius: 100px;
  /*margin-top: 30px;
  margin-bottom: 30px;*/
}
aside h3{
  padding: 8px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 22px;
  font-weight: 200;
  text-align: center;
  background-color: rgb(33,33,33);
  color: white;
  box-sizing: border-box;
  width: 100%;
}
aside p{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 0.9em;
}
aside p, a{
  padding: 0 40px 0 40px;
}
aside div:first-child{
  flex: 1;
}

.icons{
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  font-size: 2.5em;
  padding: 5px;
  margin-bottom: 40px;
  margin-top: 1rem;
}
.aside_loisirs{
  flex: 0 1 auto;
  /*padding-top: 140px;*/
}
address a{
  /*On retire l'espace entre le lien "href" et "Email" au niveau de l'adresse mail*/
  padding-left: 0px;                                                       
}
header img{
  display: none;
}

/*IIIa...AFFICHAGE PARTIE DROITE (HEADER)
=========================================================*/

section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(209, 218, 192);
  padding-left: 60px;
}

header{
  margin-top: 60px;
  margin-bottom: 70px;
  line-height: 10px;
}
h1{
  font-weight: 200;
  font-size: 40px;
  word-spacing: 2px;
  letter-spacing: 1px;
  font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
}
span{
  color: rgb(142, 148, 204);
}
h2{
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
/*On va styliser la balise "hr" qui soulignera le titre de niveau h2 sous le prénom et nom*/
hr{
  width: 15%;
  margin: 0;
  border: 1px solid rgb(142, 148, 204);
}

/*IIIb...AFFICHAGE PARTIE DROITE (ARTICLE > PARCOURS)
=========================================================*/

h3{
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(142, 148, 204);
}
h3:first-child{
  border-bottom: 2px solid rgb(142, 148, 204);
  margin-right: 20px;
  font-size: 1.2em;
}
h3[Formation]{
  color: black;
}

.part_right_text{
  flex:2;
}

/*IV...ADAPTABILITE RESPONSIVE DESIGN
=========================================================*/

@media screen and (max-width: 991px) {
  .container{
      flex-direction: column;
  }
  h1{
      font-size:3.4em;
      margin-top:50px;
  }
  section{
      padding:20px;
  }
  article ul:nth-child(2){
      margin-right:0;
  }
  address{
      display: flex;
  }
  header{
      text-align: center;
      padding-top:30px;
  }
  img{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    display: flex;
    margin: auto;
}
  header hr{
      display:flex;
      margin:auto;
  }
  aside{
      padding-top: 0;
  }
  aside h3:first-child{
      margin-top: 0;
  }
  aside > div img {
      display: none;
}